[submodule "server-ex"]
	path = server-ex
	url = https://github.com/xiaohan2013/server-ex.git
[submodule "server-ex__shell"]
	path = server-ex__shell
	url = https://github.com/xiaohan2013/server-ex__shell.git
[submodule "server-ex__python"]
	path = server-ex__python
	url = https://github.com/xiaohan2013/server-ex__python.git
[submodule "server-ex__go"]
	path = server-ex__go
	url = https://github.com/xiaohan2013/server-ex__go.git
[submodule "server-ex__pass"]
	path = server-ex__pass
	url = https://github.com/xiaohan2013/server-ex__pass.git
